<!DOCTYPE html>
<html>{% load static from staticfiles %}
<head lang="en">
    {% block css %}
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" media="screen">
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" media="screen">
        <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}" media="screen">
        <link rel="stylesheet" href="{% static "base.css" %}" media="screen">
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Collegiate Salsa Open</title>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">The CSO</a>
        </div>
        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
                <li class="{% block active_home %}{% endblock %}"><a href="/">Home</a></li>
                <li class="{% block active_about %}{% endblock %} dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="{% block active_thecso %}{% endblock %}"><a href="/about/">The CSO</a></li>
                        <li class="{% block active_constitution %}{% endblock %}"><a href="/about/constitution/">Constitution</a></li>
                    </ul>
                </li>
                <li class="{% block active_colleges %}{% endblock %}"><a href="/colleges/">Colleges</a></li>
                <li class="{% block active_dates %}{% endblock %}"><a href="/dates/">Dates</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

<div class="footer">
    <div class="container">
        <p class="text-muted pull-right">
{#            <a class="btn btn-default" href="//facebook.com/breakon2"><i class="fa fa-facebook-square fa-lg"></i> Find us on Facebook!</a>#}
            Find us on Facebook!
        </p>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>