{% extends "base.html" %}

{% block active_colleges %}active{% endblock %}

{% block content %}
    <p>
    <h3>University of Southern California – Break On 2
        <small>Los Angeles, CA</small>
    </h3>
    <span class="label label-success"><i class="fa fa-check"></i> In the house</span>
    <span class="label label-primary"><i class="fa fa-star"></i> Performing</span>
    <span class="label label-warning"><i class="fa fa-trophy"></i> Competing</span>
    </p>
    <p>
        Break On 2 is a Salsa performance team and a social dancing club at USC. Break On 2 puts on an annual dance
        showcase featuring many dance styles and special guests. They host monthly socials for the USC community and the
        general public at the USC campus.
    </p>
    <ul>
        <li><a href="#">Facebook page</a></li>
        <li><a href="#">Website</a></li>
    </ul>

    <p>
    <h3>California Polytechnic State University – CPSalsa
        <small>San Luis Obispo, CA</small>
    </h3>
    <span class="label label-success"><i class="fa fa-check"></i> In the house</span>
    </p>
    <p>
        CPSalsa has been at Cal Poly since 1920 hosting salsa nights every Friday – even through the summer! CPSalsa is
        also responsible for hosting many events throughout the year including SLOSX, a salsa exchange held for an
        entire weekend in San Luis Obispo.
    </p>
    <ul>
        <li><a href="#">Facebook page</a></li>
        <li><a href="#">Website</a></li>
        <li><a href="#">SLOSX Website</a></li>
    </ul>

    <p>
    <h3>El Camino College – El Co Salseros Salsa Club
        <small>Torrance, CA</small>
    </h3>
    <span class="label label-success"><i class="fa fa-check"></i> In the house</span>
    <span class="label label-primary"><i class="fa fa-star"></i> Performing</span>
    <span class="label label-warning"><i class="fa fa-trophy"></i> Competing</span>
    </p>
    <p>
        El Co Salseros Salsa Club is the salsa club at El Camino College. With a tradition of competition and social
        dance, the club offers salsa lessons, performance, and competition opportunities to students.
    </p>
    <ul>
        <li><a href="#">Facebook page</a></li>
    </ul>
{% endblock %}