{% extends "base.html" %}
{% load static from staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "about.css" %}" media="screen">
{% endblock %}

{% block active_about %}active{% endblock %}
{% block active_thecso %}active{% endblock %}

{% block content %}
    {#    <div class="row text-center">#}
    {#        <img src="http://imgur.com/9nxfdJt.jpg" class="text-center"/>#}
    {#    </div>#}
    <h2>The Latin Dance Alliance</h2>
    <p>The Collegiate Salsa Open (CSO) is organized by the Latin Dance Alliance (LDA). The LDA was created in 2014 by
        leaders of the collegiate Latin dance community. The LDA's mission is to:</p>
    <ul class="fa-ul">
        <li><i class="fa-li fa fa-heart"></i>Promote the spirit of community and love for dance</li>
        <li><i class="fa-li fa fa-graduation-cap"></i>Support the collegiate Latin dance community's health and growth
        </li>
    </ul>
    <p>In regards to the collegiate Latin dance community, the LDA seeks to accomplish this by:</p>
    <ul class="fa-ul">
        <li><i class="fa-li fa fa-group"></i>Unifying the collegiate Latin dance community</li>
        <li><i class="fa-li fa fa-cogs"></i>Providing support and training opportunities for social, performance, and
            competitive collegiate clubs and teams
        </li>
        <li><i class="fa-li fa fa-globe"></i>Building relationships and awareness between teams</li>
        <li><i class="fa-li fa fa-calendar"></i>Assisting coordination between socials</li>
        <li><i class="fa-li fa fa-key"></i>Helping leadership transition from generation to generation</li>
        <li><i class="fa-li fa fa-trophy"></i>Creating a meaningful space (The CSO) for the collegiate Latin dance
            community to come together to compete, perform, and socialize
        </li>
    </ul>
    <h3>LDA Financial Responsibility in the Collegiate Dance Community</h3>
    <p>In an effort to uphold the ideals of the collegiate Latin dance community, all of the LDA's collegiate activities
        (including but not limited to The CSO) are not-for-profit. Specifically, board advisors and other LDA members
        receive no payment for their involvement in the LDA's collegiate activities. Their positions are voluntary and
        are taken on as a way to give back to the community. All proceeds from collegiate activities will go directly
        back into the collegiate Latin dance community.</p>
    <p>We do however recognize the individuals and organizations that work closely with the collegiate Latin dance
        community (promoters, DJs, instructors, etc). The collegiate salsa community depends on and greatly benefits
        from their hard work and recognizes that these business people should be paid fairly for that work. The LDA
        supports these individuals being paid fairly whether working directly with the LDA or in the collegiate Latin
        dance community in general.</p>
    <h4>Transparency</h4>
    As described in the <a href="/about/constitution/">LDA Constitution</a> ...
    {#TODO: write this short transparency text.#}
{% endblock %}