Django==1.7.1
dj-database-url==0.3.0
stripe==1.20.1
django-configurations==0.8
django-compressor==1.4
django-libsass==0.2
django-allauth==0.18.0
django-admin-bootstrapped==2.3.1
django-bootstrap3==5.0.3
django-columns==0.1.0
gunicorn==19.2.1
psycopg2
