Django==1.7.1
django-sslify==0.2.5
dj-database-url==0.3.0
stripe==1.21.0
django-configurations==0.8
django-compressor==1.4
django-libsass==0.2
-e git://github.com/lennyk/django-allauth@cso-fix#egg=django-allauth
django-admin-bootstrapped==2.3.1
django-bootstrap3==5.1.1
django-columns==0.1.0
gunicorn==19.2.1
psycopg2
-e git://github.com/hayds/dj-static#egg=dj-static
django-debug-toolbar
