{% extends "registration_base.html" %}

{% block content %}
<p class="text-center">Logging in will allow you to register for the CSO, purchase a ticket, order a t-shirt, and probably anything else you need to do.</p>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <p><a class="btn btn-block btn-social btn-facebook"
              href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
            <i class="fa fa-facebook"></i>
            Login with Facebook
        </a></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <p><a class="btn btn-block btn-social btn-google-plus"
              href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
            <i class="fa fa-google-plus"></i>
            Login with Google
        </a></p>
    </div>
</div>
{% endblock %}