<!DOCTYPE html>
<html>
{% load compress %}
{% load static from staticfiles %}
{# TODO: registration #}
{#{% load socialaccount %}#}
{% load bootstrap3 %}
{% load analytics %}
<head lang="en">
{% block css %}
{% compress css %}
<link rel="stylesheet" type="text/x-sass" href="{% static 'vendor.sass' %}" />
<link rel="stylesheet" type="text/x-sass" href="{% static 'base.sass' %}" />
{% endcompress %}
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,500,300,700|Crimson+Text:400,600,700">
{{ form.media.css }}
{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Collegiate Salsa Open</title>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}#home">The Collegiate Salsa Open</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
{# TODO: registration#}
{#        <form method="post" action="{% url 'account_logout' %}">{% csrf_token %}#}
        <div id="cso-navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'home' %}#home" data-target="#home">Home</a></li>
                <li><a href="{% url 'home' %}#event" data-target="#event">Event Details</a></li>
                <li><a href="{% url 'home' %}#colleges" data-target="#colleges">Colleges</a></li>
                <li><a href="{% url 'home' %}#dates" data-target="#dates">Dates</a></li>
{# TODO: registration#}
{#                <li><a href="{% url 'registration_home' %}">Registration</a></li>#}
                <li><a href="{% url 'home' %}#about" data-target="#about">About</a></li>
                {% if user and not user.is_anonymous %}
{# TODO: registration#}
{#                <li><a href="{% url 'account_logout' %}" id="logout-link">Logout</a></li>#}
                {% endif %}

            </ul>
        </div>
{# TODO: registration#}
{#        </form>#}
    </div>
</div>

{% block super_content %}
<div class="container">
    <!-- NoScript Alert -->
    <noscript>
    <div class="alert alert-danger">
        <span>
            <strong>Notice:</strong> JavaScript is not enabled in your browser but this site requires JavaScript to
            function properly. JavaScript is an essential part of the modern internet and <strong>can</strong> be safely
            enabled. <a href="http://enable-javascript.com/" class="alert-link" target="_blank">Click here to learn how
            to safely enable JavaScript</a>.
        </span>
    </div>
    </noscript>
    {% bootstrap_messages %}

    {% block content %}{% endblock %}
</div>
{% endblock %}

{% block javascript %}
{% compress js %}
<script src="{% static 'jquery.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'javascripts/bootstrap.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'base.js' %}" type="text/javascript" charset="utf-8"></script>
{% endcompress %}
{{ form.media.js }}
{% endblock %}
{% piwik_javascript %}
</body>
</html>