{% extends "cso/base.html" %}
{% load static from staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "home.css" %}" media="screen">
{% endblock %}

{% block javascript %}
{{ block.super }}
{#<script type="text/javascript" src="//rawgit.com/Prinzhorn/skrollr/b8cc5a0eacb76bc506eb7cd9ec8baecbbc01d8c2/dist/skrollr.min.js"></script>#}
{% endblock %}

{% block super_content %}
<section id="home">
{{ block.super }}
<div class="container">
{% include "cso/snippets/landing.html" %}
</div>
</section>

<section id="event">
<div class="container">
<h2>Event Details</h2>
<div class="text-center"><i class="fa fa-question-circle fa-5x"></i></div>
</div>
</section>

<section id="colleges">
<div class="container">
{% include "events/snippets/colleges.html" %}
</div>
</section>

<section id="dates">
<div class="container">
{% include "events/snippets/dates.html" %}
</div>
</section>

<section id="about">
<div class="container">
{% include "cso/snippets/about.html" %}
</div>
</section>
{% endblock %}