{% extends "cso/base.html" %}

{% block active_home %}active{% endblock %}

{% block content %}
<p>
    The Collegiate Salsa Open is the annual salsa event which brings together salsa dancers from colleges all over
    California to celebrate the collegiate salsa scene through competition, performance, and an all-night dance social.
</p>
<p>
    {% if user and not user.is_anonymous %}
        {# TODO: display something depending on ticket status #}
        Give meaningful status about ticket here for the logged in user.
    {% else %}
        Register for the CSO now and buy your ticket!
    {% endif %}
</p>
<p>
    Participating schools include
    {% for college in colleges %}{% if forloop.first %}{% else %}, {% if forloop.last %}and {% endif %}{% endif %}<a href="{{ college.listing_url }}">{{ college.latin_dance_organization_name }}</a> ({{ college.college_name }}){% endfor %}.
</p>
{% endblock %}