{% extends "cso/base.html" %}
{% load compressed %}
{% load static from staticfiles %}

{% block css %}
{{ block.super }}
{% compressed_css 'home' %}
{% endblock %}

{% block javascript %}
{{ block.super }}
{% compressed_js 'home' %}
{% endblock %}

{% block super_content %}
<section id="home">
{{ block.super }}
<div class="container">
{% include "cso/snippets/landing.html" %}
</div>
</section>

<section id="event">
<div class="container">
{% include "cso/snippets/event_info.html" %}
</div>
</section>

<section id="colleges">
<div class="container">
{% include "events/snippets/colleges.html" %}
</div>
</section>

<section id="dates">
<div class="container">
{% include "events/snippets/dates.html" %}
</div>
</section>

<section id="about">
<div class="container">
{% include "cso/snippets/about.html" %}
</div>
</section>
{% endblock %}