@import "cso-variables"

body
  padding-top: $full-navbar-height
  position: relative

html
  position: relative
  min-height: 100%

.container .text-muted
  margin: 5px 0

.img-page-placeholder
  margin: 0 auto

// dropdown menus open on hover
@media (min-width: 768px)
  .dropdown:hover .dropdown-menu
    display: block

#login-spinner
  display: none

// fix anchor tags
// https://github.com/twbs/bootstrap/issues/1768#issuecomment-46519033
.anchor:before
  display: block
  content: "#"
  margin-top: -$full-navbar-height
  height: $full-navbar-height
  visibility: hidden

@media (min-width: 992px)
  .vertical-align
    display: flex
    align-items: center