@import "cso-variables"

body
  padding-top: $full-navbar-height
  position: relative

html
  position: relative
  min-height: 100%

// dropdown menus open on hover
@media (min-width: 768px)
  .dropdown:hover .dropdown-menu
    display: block

#login-spinner
  display: none

.anchor
  @include anchor-below-navbar
  .row &
    padding-top: $navbar-height

@media (min-width: 992px)
  .vertical-align
    display: flex
    align-items: center