@import "cso-variables"

html, body, .parallax
  height: 100%
  margin: 0
  padding: 0

// enable css parallax effect on medium size and up
@media (min-width: $screen-md-min)
  html, body
    overflow: hidden

.parallax
  overflow-y: scroll
  overflow-x: hidden

  // enable css parallax effect on medium size and up
  @media (min-width: $screen-md-min)
    perspective: 1px
    transform-style: preserve-3d

.well > *
  margin-top: 10px
  margin-bottom: 10px

@media (max-width: $screen-md)
  ul.list-nomargin-md
    margin-bottom: 0

.site-title
  font-size: floor(($font-size-base * 3.6))

.cso-logo-landing
  max-width: 500px
  margin-left: auto
  margin-right: auto

#event .schedule-heading
  margin-top: 0

section
  min-height: 100%
  position: relative

  // enable css parallax effect on medium size and up
  @media (min-width: $screen-md-min)
    overflow: hidden
    transform-style: inherit

  @media (min-width: $screen-sm-min)
    // vertical padding to complement the horizontal margin around containers on small size and up
    padding-top: $full-navbar-height
    padding-bottom: $full-navbar-height

    > .container:last-of-type
      -webkit-border-radius: 12px
      -moz-border-radius: 12px
      border-radius: 12px

  // :after is used to display the background
  &:after
    content: ""
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: -1

    // enable css parallax effect on medium size and up
    @media (min-width: $screen-md-min)
      transform: translateZ(-1px) scale(2)

    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    background-position: center center

  // layout adjustments for when padding in all sections around containers goes away
  @media (max-width: $screen-sm-min - 1)
    // add extra padding to top section
    &:first-of-type
      padding-top: $navbar-height
    // adjust all section anchor position
    @include anchor-below-navbar
    // shift background to compensate for extra padding
    &:after
      top: $navbar-height

  @mixin section-background($image, $opacity)
    &:after
      background-image: url($image)
    > .container:last-of-type
      background-color: rgba(255, 255, 255, $opacity)

  &#home
    @include section-background('/static/concrete.jpg', 0.5)

  &#event
    @include section-background('/static/social_dance_1.jpg', 0.8)

  &#colleges
    @include section-background('/static/woodfloor.jpg', 0.5)

  &#about
    @include section-background('/static/rusty_gears.jpg', 0.8)

    ul.fa-ul > li
      margin: 1em 0

    i.fa
      font-size: 1.5em
      top: 0em

    ul.fa-ul
      margin-top: 1.2em
      margin-bottom: 1.2em
      margin-left: 4em