<h2>Event Details</h2>
<h3>Ticket Sales</h3>
<p>CSO ticket sales are online only, no door sales. We will be selling competition and performance spectator tickets at the door for friends and family, but if you plan to attend all night for social dancing you should purchase your ticket online.</p>
<p>Tickets are non-transferable but we offer free no-questions-asked refunds until April 22nd. If you need to refund your ticket just go back to the registration page and complete your refund online.</p>
<h3>The Competition</h3>
<p>Vestibulum vitae lorem accumsan metus bibendum venenatis eget quis augue. Praesent volutpat posuere justo in scelerisque. Nulla commodo ipsum scelerisque accumsan blandit. Nam mauris orci, semper a hendrerit nec, pharetra vitae augue. Fusce nec nisl magna. Aenean at arcu eget magna vestibulum egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ornare a turpis id elementum. Aenean feugiat ante at neque accumsan, in efficitur eros posuere. Sed lacinia neque id massa commodo, quis molestie est vestibulum. Nunc at accumsan neque, nec luctus sem.</p>
<p>Morbi vehicula lacus semper magna tempor, sed venenatis odio pulvinar. Praesent in nulla sed eros mattis pretium id nec enim. In in ultricies nibh, in pulvinar est. Phasellus est turpis, suscipit non scelerisque at, viverra ut ante. Phasellus tempor velit eu magna porttitor, et semper sapien pretium. Vestibulum a libero eget ex semper egestas. Integer id euismod nibh.</p>
<h3>Schedule</h3>
<dl class="dl-horizontal">
    <dt>6:30pm - 7:00pm</dt>
    <dd>
        <h4>Team Checkins</h4>
        <p>Duis maximus elementum nunc et vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi fermentum magna sit amet nunc elementum, mattis efficitur felis sagittis. Aliquam ut nisl magna. Quisque ut ultrices massa, a tempor dolor. Morbi nec sagittis neque. Vestibulum feugiat consectetur maximus. Integer hendrerit mollis felis, eu finibus dolor dignissim id. Sed scelerisque diam libero, consequat convallis neque consectetur sed. Quisque consectetur risus vitae imperdiet accumsan.</p>
    </dd>
    <dt>7:30pm</dt>
    <dd>
        <h4>The Competition</h4>
        <p>Duis maximus elementum nunc et vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi fermentum magna sit amet nunc elementum, mattis efficitur felis sagittis. Aliquam ut nisl magna. Quisque ut ultrices massa, a tempor dolor. Morbi nec sagittis neque. Vestibulum feugiat consectetur maximus. Integer hendrerit mollis felis, eu finibus dolor dignissim id. Sed scelerisque diam libero, consequat convallis neque consectetur sed. Quisque consectetur risus vitae imperdiet accumsan.</p>
    </dd>
    <dt>8:45pm</dt>
    <dd>
        <h4>Performances</h4>
        <p>Duis maximus elementum nunc et vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi fermentum magna sit amet nunc elementum, mattis efficitur felis sagittis. Aliquam ut nisl magna. Quisque ut ultrices massa, a tempor dolor. Morbi nec sagittis neque. Vestibulum feugiat consectetur maximus. Integer hendrerit mollis felis, eu finibus dolor dignissim id. Sed scelerisque diam libero, consequat convallis neque consectetur sed. Quisque consectetur risus vitae imperdiet accumsan.</p>
    </dd>
    <dt>10:00pm - 4:00am</dt>
    <dd>
        <h4>Social Dancing</h4>
        <p>Duis maximus elementum nunc et vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi fermentum magna sit amet nunc elementum, mattis efficitur felis sagittis. Aliquam ut nisl magna. Quisque ut ultrices massa, a tempor dolor. Morbi nec sagittis neque. Vestibulum feugiat consectetur maximus. Integer hendrerit mollis felis, eu finibus dolor dignissim id. Sed scelerisque diam libero, consequat convallis neque consectetur sed. Quisque consectetur risus vitae imperdiet accumsan.</p>
    </dd>
</dl>

<h3>Event Location</h3>
<p>All of the events will take place at Fat Eye Studios in Los Angeles, CA. Parking is available on-site.</p>
<address>
    <strong>Fat Eye Studios</strong><br />
    <a href="https://goo.gl/maps/EtVKQ">4466 Worth St, Los Angeles, CA 90063</a>
</address>
<h3>Lodging</h3>
<p>If you're coming from far away and need lodging, nearby hotels include:</p>
<ul class="list-unstyled">
    <li>
        <strong>Vista Motel</strong>
        <p>1.6 miles from the venue. Rates quoted at $1,000,000 a night.</p>
    </li>
    <li>
        <strong>Cardboard Box</strong>
        <p>0.1 miles from the venue. Rates quoted at $3 a night.</p>
    </li>
    <li>
        <strong>Mike's Love Shack</strong>
        <p>300 miles from the venue. Rates quoted at $5,000,000 a night.</p>
    </li>
</ul>