<h2>Event Details</h2>
<h3>Ticket Sales</h3>
<p>CSO ticket sales are online only, no door sales. We will be selling competition and performance spectator tickets at the door for friends and family, but if you plan to attend all night for social dancing you should purchase your ticket online.</p>
<p>Tickets are non-transferable but we offer free no-questions-asked refunds until April 22nd. If you need to refund your ticket just go back to the registration page and complete your refund online.</p>
<h3>The Competition</h3>
<p>Vestibulum vitae lorem accumsan metus bibendum venenatis eget quis augue. Praesent volutpat posuere justo in scelerisque. Nulla commodo ipsum scelerisque accumsan blandit. Nam mauris orci, semper a hendrerit nec, pharetra vitae augue. Fusce nec nisl magna. Aenean at arcu eget magna vestibulum egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ornare a turpis id elementum. Aenean feugiat ante at neque accumsan, in efficitur eros posuere. Sed lacinia neque id massa commodo, quis molestie est vestibulum. Nunc at accumsan neque, nec luctus sem.</p>
<p>Morbi vehicula lacus semper magna tempor, sed venenatis odio pulvinar. Praesent in nulla sed eros mattis pretium id nec enim. In in ultricies nibh, in pulvinar est. Phasellus est turpis, suscipit non scelerisque at, viverra ut ante. Phasellus tempor velit eu magna porttitor, et semper sapien pretium. Vestibulum a libero eget ex semper egestas. Integer id euismod nibh.</p>
<h3>Schedule</h3>
<dl class="dl-horizontal">
    <dt>12pm - 4pm</dt>
    <dd>
        <h4>Tech Rehearsal & Team Check-in</h4>
        <p>Each performance and competition team will receive a 10 minute tech rehearsal at the venue. The tech rehearsal schedule will be very strict to accommodate everyone. Teams should be on time or unfortunately forfeit their tech rehearsal.</p>
    </dd>
    <dt>6:30pm - 8pm</dt>
    <dd>
        <h4>Performances</h4>
        <p>Come support your friends and family during the performance segment of the CSO. Chair seating will be provided on a first-come first-served basis so arrive early to get your spot!</p>
    </dd>
    <dt>8pm - 9pm</dt>
    <dd>
        <h4>The Competition</h4>
        <p>The moment we've been waiting for all year begins at 8pm. Cheer on the competitors as they compete for the 2015 CSO Championship title.</p>
    </dd>
    <dt>9:30pm - 4:00am</dt>
    <dd>
        <h4>Social Dancing</h4>
        <p>Get ready for the biggest college salsa social of your life, bro. Snacks, water, and vendors will be available all night. Winners of the competition will be announced when the clock strikes 12.</p>
    </dd>
</dl>

<h3>Event Location</h3>
<p>The 2015 CSO will be held in Los Angeles, CA about 10 minutes from DTLA.</p>
{#<p>All of the events will take place at Fat Eye Studios in Los Angeles, CA. Parking is available on-site.</p>#}
{#<address>#}
{#    <strong>Fat Eye Studios</strong><br />#}
{#    <a href="https://goo.gl/maps/EtVKQ">4466 Worth St, Los Angeles, CA 90063</a>#}
{#</address>#}

{#<h3>Lodging</h3>#}
{#<p>If you're coming from far away and need lodging, nearby hotels include:</p>#}
{#<ul class="list-unstyled">#}
{#    <li>#}
{#        <strong>Vista Motel</strong>#}
{#        <p>1.6 miles from the venue. Rates quoted at $1,000,000 a night.</p>#}
{#    </li>#}
{#    <li>#}
{#        <strong>Cardboard Box</strong>#}
{#        <p>0.1 miles from the venue. Rates quoted at $3 a night.</p>#}
{#    </li>#}
{#    <li>#}
{#        <strong>Mike's Love Shack</strong>#}
{#        <p>300 miles from the venue. Rates quoted at $5,000,000 a night.</p>#}
{#    </li>#}
{#</ul>#}