{% load static from staticfiles %}
<div class="text-center">
    <h1 class="text-uppercase">The Collegiate Salsa Open</h1>
    <div class="row vertical-align">
        <div class="col-md-4 col-md-push-4">
            <p><img class="img-responsive center-block" src="{% static "cso.svg" %}" /></p>
        </div>
        <div class="col-md-4 col-md-pull-4">
            <div class="well">
            {% if user and not user.is_anonymous %}
                {# TODO: display something depending on ticket status #}
                <p><h3>Only <span class="text-danger">120</span> tickets left!</h3></p>
                <p><a href="{% url "registration_home" %}" class="btn btn-primary">Register Now</a></p>
            {% else %}
                <p><h3>Only <span class="text-danger">120</span> tickets left!</h3></p>
                <p><a href="{% url "registration_home" %}" class="btn btn-primary">Register Now</a></p>
            {% endif %}
            </div>
        </div>
        <div class="col-md-4 text-left">
            <ul class="list-unstyled">
                <li><h3>Participating colleges:</h3></li>
                {% for college_info in colleges %}
                {% with college_info.college as college %}
                <li><a href="{{ college.listing_url }}">{{ college.latin_dance_organization_name }}</a> ({{ college.college_name }})</li>
                {% endwith %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <p class="lead">
        Organized by students in the college dance community for the college dance community, the Collegiate Salsa Open is the
        annual salsa summit where salsa dancers from colleges and the salsa community all over California will come
        together to celebrate the collegiate salsa scene through competition, performance, and all-night social dancing.
    </p>
    <p class="lead">
        The first annual CSO will be held on <strong>April 25th, 2015</strong>.
    </p>
</div>