<h2>Participating Colleges</h2>
<p>
    Here is a list of all the colleges particiapting in the 2015 CSO!
</p>
{% for participation in participations %}
    <h3 class="anchor" id="{{ participation.college|slugify }}">
        {{ participation.college.latin_dance_organization_name }} – {{ participation.college.college_name }}
        <br class="hidden-md hidden-lg"/>
        <small>{{ participation.college.location }}</small>
    </h3>
    <ul class="list-inline">
    {% if participation.attending %}
        <li><span class="label label-success"><i class="fa fa-check"></i> In the house</span></li>
    {% endif %}
    {% if participation.performing %}
        <li><span class="label label-primary"><i class="fa fa-star"></i> Performing</span></li>
    {% endif %}
    {% if participation.competing %}
        <li><span class="label label-warning"><i class="fa fa-trophy"></i> Competing</span></li>
    {% endif %}
    </ul>
    <p>{{ participation.college.description }}</p>
    <ul>
    {% for URL in participation.college.collegeurl_set.all %}
    <li><a href="{{ URL.url }}" target="_blank">{{ URL.get_url_type_display }}</a></li>
    {% endfor %}
    </ul>
{% endfor %}

{#<p class="text-center">#}
{#    <iframe class="" src="https://mapsengine.google.com/map/u/0/embed?mid=z5x4wQD2qiIA.kaT6c52JIseA" width="80%" height="480"></iframe>#}
{#</p>#}