{% load columns %}
<h1 class="page-header">Participating Colleges</h1>
<p>
    Here is a list of all the colleges participating in the 2015 CSO!
</p>
{% for participation in participations %}
    {% if not forloop.counter|divisibleby:2 %}<div class="row">{% endif %}
    <div class="col-md-6">
    <h3 class="anchor" id="{{ participation.college|slugify }}">
        {{ participation.college.college_name }}<br />
    </h3>
    <h4>{{ participation.college.latin_dance_organization_name }}</h4>
    <p><em>{{ participation.college.location }}</em></p>
    <ul class="list-inline">
    {% if participation.attending %}
        <li><span class="label label-success"><i class="fa fa-check"></i> In the house</span></li>
    {% endif %}
    {% if participation.performing %}
        <li><span class="label label-primary"><i class="fa fa-star"></i> Performing</span></li>
    {% endif %}
    {% if participation.competing %}
        <li><span class="label label-warning"><i class="fa fa-trophy"></i> Competing</span></li>
    {% endif %}
    </ul>
    <p>{{ participation.college.description }}</p>
    <ul>
    {% for URL in participation.college.collegeurl_set.all %}
    <li><a href="{{ URL.url }}" target="_blank">{{ URL.get_url_type_display }}</a></li>
    {% endfor %}
    </ul>
    </div>
    {% if forloop.counter|divisibleby:2 or forloop.last %}</div>{% endif %}
{% endfor %}

{#<p class="text-center">#}
{#    <iframe class="" src="https://mapsengine.google.com/map/u/0/embed?mid=z5x4wQD2qiIA.kaT6c52JIseA" width="80%" height="480"></iframe>#}
{#</p>#}