{% load static from staticfiles %}
<h1 class="page-header">Instructors & DJs</h1>
<div class="row">
    <div class="col-sm-6"><p><img class="img-responsive center-block" src="{% static 'schedule-instructor.jpg' %}"/></p></div>
    <div class="col-sm-6"><p><img class="img-responsive center-block" src="{% static 'schedule-dj.jpg' %}"/></p></div>
</div>
<div class="row">
    <div class="col-xs-4">
        <p><a href="{% static 'eder-avila-bio.jpg' %}" data-lightbox="instructors">
            <img class="img-responsive center-block" src="{% static 'eder-avila-bio.jpg' %}"/>
        </a></p>
    </div>
    <div class="col-xs-4">
        <p><a href="{% static 'javier-bio.jpg' %}" data-lightbox="instructors">
            <img class="img-responsive center-block" src="{% static 'javier-bio.jpg' %}"/>
        </a></p>
    </div>
    <div class="col-xs-4">
        <p><a href="{% static 'leilani-bio.jpg' %}" data-lightbox="instructors">
            <img class="img-responsive center-block" src="{% static 'leilani-bio.jpg' %}"/>
        </a></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 col-xs-offset-2">
        <p><a href="{% static 'peter-bio.jpg' %}" data-lightbox="instructors">
            <img class="img-responsive center-block" src="{% static 'peter-bio.jpg' %}"/>
        </a></p>
    </div>
    <div class="col-xs-4">
        <p><a href="{% static 'zweli-bio.jpg' %}" data-lightbox="instructors">
            <img class="img-responsive center-block" src="{% static 'zweli-bio.jpg' %}"/>
        </a></p>
    </div>
</div>
