{% extends "registration/base.html" %}
{% load bootstrap3 %}
{% load compress %}
{% load static %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    Stripe.setPublishableKey('{{ publishable_key }}');
</script>
{% compress js %}
<script type="text/javascript" src="{% static 'payment-form.js' %}"></script>
{% endcompress %}
{% endblock %}

{% block content %}
    <h2>Purchase Your 2015 CSO Ticket</h2>

    <p>Enter your credit card details. You will be charged $28. This process is secure.</p>

    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <p>
            <i class="fa fa-cc-visa fa-4x"></i>
            <i class="fa fa-cc-mastercard fa-4x"></i>
            <i class="fa fa-cc-amex fa-4x"></i>
            <i class="fa fa-cc-discover fa-4x"></i>
            </p>
        </div>
    </div>

    <form id="cso-ticket-form" class="form-horizontal" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Card Holder's Name</label>
            <div class="col-sm-4"><input type="text" id="name" class="form-control" data-stripe="name"/></div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="card">Card Number</label>
            <div class="col-sm-4"><input type="text" id="card" class="form-control" data-stripe="number"/></div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="">Card Expiry Date</label>
            <div class="col-sm-4 form-inline">
                <select name="select2" id="month" data-stripe="exp-month" class="card-expiry-month stripe-sensitive required form-control">
                    <option value="01" selected="selected">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <span> / </span>
                <select name="select2" id="year" data-stripe="exp-year" class="card-expiry-year stripe-sensitive required form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="cvc">CVC</label>
            <div class="col-md-4"><input type="text" id="cvc" size="4" class="form-control" data-stripe="cvc"/></div>
        </div>

        <div class="form-group">
            <div class="col-md-push-2 col-sm-4 controls">
                <input type="submit" value="Pay Now" class="btn btn-primary"/>
            </div>
        </div>
    </form>
{% endblock %}