{% extends "registration/base.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "registration.css" %}" media="screen">
{% endblock %}

{% block content %}
    <h2>{% block registration_form_title %}Submit Event Registration Details{% endblock %}</h2>
    <div class="row"><div class="col-md-6"><p>
        {% block form_instructions %}
            Enter your event registration details below.
        {% endblock %}
    </p></div></div>
        <form method="post" class="form-horizontal registration-form" role="form">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <div class="row" id="existing-user-emails">
                <div class="col-md-6 col-md-offset-2">
                    {% include "registration/snippets/user_emails_table.html" %}
                </div>
            </div>
            {% buttons layout='horizontal' %}
                {% block form_buttons %}
                <button type="submit" class="btn btn-primary">Submit</button>
                {% endblock %}
            {% endbuttons %}
        </form>
        {% include "registration/snippets/email_reverification_form.html" %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static "registration.js" %}"></script>
{% endblock %}