{% extends "registration/base.html" %}
{% load bootstrap3 %}

{% block content %}
    <h2>{% block registration_form_title %}Submit Event Registration Details{% endblock %}</h2>
    <div class="row"><div class="col-md-6"><p>
        {% block form_instructions %}
            Enter your event registration details below.
            We will sign you in at the event with your driver's license or other ID card
            so enter your first and last name exactly as it appears on your ID card.
        {% endblock %}
    </p></div></div>
        <form method="post" class="form-horizontal" role="form">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% buttons layout='horizontal' %}
                {% block form_buttons %}
                <button type="submit" class="btn btn-primary">Submit</button>
                {% endblock %}
            {% endbuttons %}
        </form>
{% endblock %}